@import "imports";

body {
  font-family: 'Futura Book', sans-serif;
  font-size: $body-fz;
  margin: 0;
  padding: 0;
}

.header {
  a {
    color: $default-c;
    text-decoration: none;
    font-size: 14px;
    display: block;
    padding: 15px 16px;
  }

  &__top {
    display: flex;
    align-items: center;
    padding: 24px 25px;
  }

  &__bottom {
    a {
      text-transform: uppercase;
    }
  }

  &__nav {
    flex-basis: 40%;

    ul {
      display: flex;
    }

    &--bottom {
      ul {
        justify-content: center;
      }
    }
  }

  .logo {
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      padding: 0;
    }
  }

  .bucket {
    flex-basis: 40%;
    display: flex;
    justify-content: flex-end;

    &__item {
      display: flex;
      align-items: center;
      padding: 15px 16px;
    }

    &__text {
      margin: 0 5px;
    }
  }
}

.text-center {
  text-align: center;
}

.tip {
  color: $white-c;
  padding: 4px 8px 2px;
  background: $tip-c;

  &--round {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 20px;
    height: 20px;
    font-size: 10px;
    text-align: center;
    border-radius: 50%;
  }
}
